@using Microsoft.AspNetCore.Razor.Language

<div class="form-group">
       
    <div class="form-group">
        <label for="exampleInputName">Name: @ViewBag.name</label>
    </div>

    <div class="form-group">
        <label for="exampleInputDate">Date of birth: @ViewBag.birthDate</label>
    </div>

    <div class="form-group">
        <label for="exampleInputGroup">Group number: @ViewBag.group</label>
    </div>

</div>